---
layout: default
---

<!doctype html>

<html lang="fa" class="no-js" dir="rtl">

<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
  <link href="media/{{ site.style }}-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/{{ site.style }}-print.css" type="text/css" rel="stylesheet" media="print">
</head>
<body>
  <div id="main">
    <div lang="fa" dir="rtl" id="content">
    {{ content }}
    </div>
  </div>
</body>
</html>
